<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <h1>Панель администратора</h1>
    <a href="/admin/create"> создать товар</a><br>
    <a href="/admin/createCat">создать категорию товара</a><br>
    <a href="/admin/createPost">создать пост</a><br>
    <a href="/admin/createPoint">Cоздать пункт выдачи</a>
    <table border="1" style="margin-top: 15px;">
        <tr>
            <td>id</td>
            <td>пользователь</td>
            <td>ПВЗ</td>
            <td>товар</td>
            <td>статус</td>
            <td>изменить статус</td>
        </tr>
        {{#each order}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.user}}</td>
            <td>{{this.pickuppoint}}</td>
            <td>{{this.product}}</td>
            <td>{{this.status}}</td>
            <td><a href="/admin/changeStatus/{{this.id}}">изменить статус</a></td>
        </tr>
        {{/each}}
    </table>
</body>

</html>