<!DOCTYPE HTML>

<html>
	<head>
		<%- include('./partials/title.ejs') %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<%- include('./partials/linkCss.ejs') %>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				 
					<%- include('./partials/header.ejs') %>

					<%- include('./partials/menu.ejs') %>	

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<header class="major">
									<h2>ДЗЮНДЗИ ИТО (伊藤 潤二)</h2>
								</header>
								<p>Японский мангака, продюсер, сценарист и режиссер, работающий в жанре хоррор.</p>
								<p>Родился 31 июля 1963 году в городе Сакасита, префектура Гифу.</p>
								<p>С детства восхищался рисунками старшей сестры и комиксами Кадзуо Умэдзу, что и подтолкнуло Ито начать заниматься мангой. Поначалу это занятие не выходило за рамки хобби, пока основным средством заработка оставалась работа в качестве зубного техника.</p>
								<p>В 1987 году отправил свой короткий рассказ в журнал Gekkan Halloween («Ежемесячный Хэллоуин»), где получил почетное упоминание в Премии Кадзуо Умэдзу (с самим Умэдзу в качестве одного из судей). Позже эта история получила название «Томиэ» — одно из наиболее известных и часто экранизируемых произведений автора.</p>
								<p>Характерная черта его работ — смесь пороговых эмоций (зависть, гнев, ревность), боди-хоррора, графического изображения насилия и гротескных образов. Характерный представитель — самое большое произведение Ито, трехтомник «Спираль».</p>
								<p>Несмотря на славу главного хоррор-мангаки Японии, также помогал со сценарием и продюсированием в аниме- и киноадаптациях своих работ. Кроме того, Ито самостоятельно поставил фильм ужасов «Томио» в 2011 году.</p>
								<header class="major">
									<h2> ПРИЗЫ И НАГРАДЫ</h2>
									<ul>
										<li>2021 — Лучшее американское издание работы на иностранном языке — Азия («Рэмина»)</li>
										<li>2021 — Лучший автор/художник («Рэмина», «Венера в слепом пятне»)</li>
									</ul>
								</header>
							</section>

						


					</div>

			<%- include('./partials/footer.ejs') %>		

			</div>

		<!-- Scripts -->
			<%- include('partials/script.ejs') %>
	</body>
</html>