<!DOCTYPE HTML>

<html>
	<head>
		<%- include('./partials/title.ejs') %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<%- include('./partials/linkCss.ejs') %>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				 
					<%- include('./partials/header.ejs') %>

					<%- include('./partials/menu.ejs') %>	

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<header class="major">
									<h2>Что такое манга?</h2>
								</header>
								<p>Современная японская манга – это комиксы для разных возрастов и социальных категорий. Мангу в Японии читают и домохозяйки, и дети, и влиятельные бизнесмены. Первые манги стали появляться в продаже после Второй мировой войны, но само искусство историй в картинках зародилось в Японии гораздо раньше. </br>
									На сегодняшний день, в Японии манги выпускают в черно-белом цвете. В них допустимо раскрашивать только обложку и те нарисованные сцены, на которых запланировано сделать особенный акцент.</br> Большинство манг изначально печатают в популярных журналах. Самые понравившиеся истории затем переиздают отдельными книгами – танкобонами. Есть объемные манги, которые сразу печатают большими томами, другие же представляют собой короткие рассказы. Журнальные манги делятся на выпуски, как серии в телевизионном сериале, и выпускаются постепенно, чтобы к ним не угасал интерес.
								</p>
								<div class="spotlight">
									<div class="content">
										
										<header class="major">
											<h2>Дзюндзи Ито</h2>
										</header>
										<p>Дзюндзи Ито (яп. 伊藤 潤二) — японский мангака, работающий в жанре ужасов. Ито начал рисовать мангу в возрасте 4 лет, черпая вдохновение из работ, которые он читал в журналах. Он продолжал рисовать в качестве хобби, пока не стал зубным техником в 1984 году. Но сначала это было просто хобби, пока он работал зубным техником.</p>
										<ul class="actions">
											<li><a href="/biography" class="button">Подробнее о биографии</a></li>
										</ul>
									</div>
									<span class="image"><img src="/ito.jpg" alt="" wigth='318px' height='318px'/></span>
								</div>
								

							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>На сайте вы можете</h2>
								</header>
								<ul class="features">
									<li><a href="#">
										<span class="image"><img src="/mng.jpg" alt="" wigth='193.8px' height='193.8px'/></span>
										<h3>купить классику хоррор-манги</h3>
									</a></li>
									<li><a href="#">
										<span class="image"><img src="/fan-art.jpg" alt="" wigth='193.8px' height='193.8px'/></span>
										<h3>почитать посты и посмотреть фан-арты</h3>	
									</a></li>
									<li><a href="#">
										<span class="image"><img src="/zn.png" alt="" wigth='193.8px' height='193.8px'/></span>
										<h3>купить мерч </h3>	
									</a></li>
								</ul>

							</section>


					</div>

			<%- include('./partials/footer.ejs') %>		

			</div>

		<!-- Scripts -->
			<%- include('partials/script.ejs') %>
	</body>
</html>