<!DOCTYPE html>
<html lang="en">

<head>
    {{> title}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {{> linkCss}}
</head>

<body class="is-preload">
    <div id="wrapper">
        {{> header}}

        {{> menu}}

        <!-- Main -->
        <div id="main">
            <section id="intro" class="main">

                <header class="major">
                    <h2>{{name}} - {{price}} ₽</h2>
                </header>

                <ul class="features">
                    <li>
                        <span class="image"><img src="/{{image}}" alt="" wigth='500px' height='500px' /></span>
                    </li>
                </ul>
                <p> {{description}}</p>
                {{#if basketButton}}
                <div class="col-12">
                    <form method="post" action="/product/{{id}}">
                    <ul class="actions" >
                        <li><input type="submit" value="в корзину" class="button" id="btn"
                                style="background-color:rgb(255, 255, 255)" ></li>
                    </ul>
                    </form>
                    
                {{else}}
                <a href="/authorization">Авторизируйтесь чтобы отложить товар в корзину</a>
                {{/if}}
                </div>
                {{!-- <div class="col-12">
                    <form method="post" action="/product/{{id}}">
                    <ul class="actions">
                        <li><input type="submit" value="в понравившиеся" class="button"
                                style="background-color:rgb(255, 255, 255)" ></li>
                    </ul>
                    </form>
                </div> --}}
                {{#if productInBasket}}
                    
                    <a href="/basket" style="color: green;">товар отложен в корзину</a>
                    <script>
                        let btn = document.getElementById('btn')
                        btn.remove()
                    </script>
                    {{!-- <script>
                        let btn = document.getElementById('btn')
                        btn.value = 'товар отложен в корзину'
                        btn.setAttribute('disabled', '');
                        btn.style.background = "red";
                        btn.style.color = "black";
                    </script> --}}
                {{/if}}
            </section>

        </div>
        {{> footer}}
    </div>

    {{> script}}
    {{!-- <h1>{{name}} - {{price}} рублей</h1>
    <img src="/{{image}}" alt="">
    <p>{{description}}</p> --}}
</body>

</html>